@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 15px 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

}
.apps {
  min-height: 100vh;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.recipes {
  display: grid;
  justify-content: space-around;
  
}
@media screen and (min-width: 660px) {
  .recipes {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .recipes {
      grid-template-columns: repeat(3, 1fr);
  }
}
